@{
    Layout = null;
}

@this.GetType().Assembly.Location.ToString()
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewData["aa"]

        122
    </div>
</body>
</html>
