@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bundle</title>
    @Scripts.Render("~/isValid")
    @*<script src="@Url.Content("~/Scripts/jquery.tmpl.min.js")"></script>*@
</head>
<body>
    <div>
        
    </div>
</body>
</html>
