@{
    //此页面的  Layout  属性 已经在 _ViewStart.cshtml 里赋值了！
    //会默认从Views文件夹下找_ViewStart.cshtml 除非设置了Layout自己
    @Layout
    ViewBag.Title = "SonPage";
}


@section other{
    <div style="width:300px;height:280px;border:1px solid red">Other -Section</div>
}<!--子页中除了section中的 其余所有 代码均在母版页的RenderBody中-->
<h2>SonPage</h2>
123123213123