@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="margin:0 auto;font-size:30px;width:300px;">
        Home的Index
    </div>  
</body>
</html>
