@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@this.GetType().Assembly.Location.ToString()
@Html.Raw("<hr/>")
<table border="1">
    <tr>
        <td>why</td>
        <td>what</td>
    </tr>
    <tr>
        <td>how</td>
        <td>where</td>
    </tr>
</table>